<%= link_to 'Make meme', new_meme_path %>

<form action="/slack/sending" method=GET>
  <input type="hidden" name='text' value="https://s-media-cache-ak0.pinimg.com/736x/fe/cc/d7/feccd77661ea5f0327162e0fc05e876c.jpg">
  <input type="submit" value="Share on Slack">
</form>
