<%= link_to 'Make meme', new_meme_path %>

<form action="/slack/sending" method=GET>
  <input type="hidden" name='text' value="http://www.mykidsite.com/wp-content/uploads/2015/04/Angry-Baby-Showing-His-Muscles.jpg">
  <input type="submit" value="Share on Slack">
</form>
