<%= link_to 'Make meme', new_meme_path %>

<% @memes.each_slice(3).each do |group| %>
  <div style="text-align:center" class="row">
  <% group.each do |meme| %>
    <div class="col-md-4">
      <div class="image-container">
          <p><%= meme.raw_image_url %></p>
          <p><%= meme.top_caption %></p>
          <p><%= meme.bottom_caption %></p>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
